<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>信息接收详情</title>
    <link rel="stylesheet" href="assets/css/reset.min.css">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/fontSize/iconfont.css">
    <link rel="stylesheet" href="assets/css/index.css">
    <link rel="stylesheet" href="assets/css/person.css">
    <link rel="stylesheet" href="assets/css/personAdd.css">
    <link rel="stylesheet" href="assets/js/alert/window.css">
    <script type="text/javascript" src="assets/js/jquery-2.2.4.js"></script>
    <script type="text/javascript" src="assets/js/bootstrap.js"></script>
    <script type="text/javascript" src="assets/js/localStorageUtils.js"></script>
    <script type="text/javascript" src="assets/js/public.js"></script>
    <script type="text/javascript" src="assets/js/alert/window.js"></script>

</head>
<body>
<!--顶部logo-->
<div class="header">
    <img src="assets/images/header.png" alt="">
</div>
<!--内容部分-->
<div class="container">
    <div class="row">
        <div class="col-md-2" style=" padding:0;">
            <div class="introduce">
                <ul class="nav nav-pills nav-stacked">
                    <li class="foot">所属单位</li>
                    <!--<li>-->
                        <!--<div class="left">-->
                            <!--<img src="assets/images/soldier.png" alt="">-->
                            <!--<span>三十八军</span>-->
                        <!--</div>-->
                        <!--<div class="right">-->
                            <!--<span class="icon-youjiantou iconfont "></span>-->
                        <!--</div>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<div class="left">-->
                            <!--<img src="assets/images/soldier.png" alt="">-->
                            <!--<span>三十军</span>-->
                        <!--</div>-->
                        <!--<div class="right">-->
                            <!--<span class="icon-youjiantou iconfont "></span>-->
                        <!--</div>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<div class="left">-->
                            <!--<img src="assets/images/soldier.png" alt="">-->
                            <!--<span>二十八军</span>-->
                        <!--</div>-->
                        <!--<div class="right">-->
                            <!--<span class="icon-youjiantou iconfont "></span>-->
                        <!--</div>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<div class="left">-->
                            <!--<img src="assets/images/soldier.png" alt="">-->
                            <!--<span>九十八军</span>-->
                        <!--</div>-->
                        <!--<div class="right">-->
                            <!--<span class="icon-youjiantou iconfont "></span>-->
                        <!--</div>-->
                    <!--</li>-->
                </ul>
            </div>
        </div>
        <div class="col-md-10" style=" padding:0;">
            <div class="detail">
                <div class="detail_header">
                    <div class="header_list">
                        <div class="detail_left">
                            <ul class="choice">
                                <li><a href="shouye.html">首页</a></li>
                                <li  class="default"><a href="person.html">人员管理</a></li>
                                <li><a href="score.html">成绩管理</a></li>
                                <li><a href="infomation.html">信息资料</a></li>
                                <li><a href="course.html">远程教学</a></li>
                                <li ><a href="testInfo.html">远程考核</a></li>
                                <li><a href="systemManage.html">系统管理</a></li>
                            </ul>
                        </div>
                        <div class="detail_right">
                            <div class="login_left">
                                <span class="iconfont icon-bangzhu"></span>
                                <span>帮助中心</span>
                            </div>
                            <div class="login_right">
                                <span class="iconfont icon-tuichu"></span>
                                <span onclick="logout()">退出登录</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="detail_footer">
                    <div class="footer_content">
                        <div class="process">
                            <span>信息资料</span>
                            <span class="iconfont icon-youjiantou1"></span>
                            <span>信息接收</span>
                            <span class="iconfont icon-youjiantou1"></span>
                            <span>计划</span>
                            <div class="send">
                                <span>发送人 : </span>
                                <span>张三</span>
                                <span class="times">发送时间 : </span>
                                <span>2018-1-21</span>
                            </div>
                        </div>
                        <div class="info_detail" style="padding:20px 50px;text-align: center; ">
                            <h3>关于xxx的计划</h3>
                            <div class="font_content" style="text-align: left;margin-top:30px;">
                                计划计划计划计划计划计划计划计划计划计划计划计划计划计划计划计划计划计划计划计划计划计划计划计划计划计划计划计划计划计划计划计划计划计划计划计划计划计划计划计划计划计划计划计划计划计划计划计划计划计划计划计划计划计划计划计划计划计划计划计划计划计划计划计划计划计划
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>