<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>人员筛选</title>
    <link rel="stylesheet" href="assets/css/reset.min.css">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/fontSize/iconfont.css">
    <link rel="stylesheet" href="assets/css/index.css">
    <link rel="stylesheet" href="assets/css/person.css">
    <link rel="stylesheet" href="assets/css/personFilter.css">
    <link rel="stylesheet" href="assets/js/alert/window.css">
    <script type="text/javascript" src="assets/js/jquery-2.2.4.js"></script>
    <script type="text/javascript" src="assets/js/bootstrap.js"></script>
    <script type="text/javascript" src="assets/js/localStorageUtils.js"></script>
    <script type="text/javascript" src="assets/js/public.js"></script>
    <script type="text/javascript" src="assets/js/alert/window.js"></script>
</head>
<body>
<!--顶部logo-->
<div class="header">
    <img src="assets/images/header.png" alt="">
</div>
<!--内容部分-->
<div class="container">
    <div class="row">
        <div class="col-md-2" style=" padding:0;">
            <div class="introduce">
                <ul class="nav nav-pills nav-stacked">
                    <li class="foot">所属单位</li>
                    <!--<li>-->
                        <!--<div class="left">-->
                            <!--<img src="assets/images/soldier.png" alt="">-->
                            <!--<span>三十八军</span>-->
                        <!--</div>-->
                        <!--<div class="right">-->
                            <!--<span class="icon-youjiantou iconfont "></span>-->
                        <!--</div>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<div class="left">-->
                            <!--<img src="assets/images/soldier.png" alt="">-->
                            <!--<span>三十军</span>-->
                        <!--</div>-->
                        <!--<div class="right">-->
                            <!--<span class="icon-youjiantou iconfont "></span>-->
                        <!--</div>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<div class="left">-->
                            <!--<img src="assets/images/soldier.png" alt="">-->
                            <!--<span>二十八军</span>-->
                        <!--</div>-->
                        <!--<div class="right">-->
                            <!--<span class="icon-youjiantou iconfont "></span>-->
                        <!--</div>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<div class="left">-->
                            <!--<img src="assets/images/soldier.png" alt="">-->
                            <!--<span>九十八军</span>-->
                        <!--</div>-->
                        <!--<div class="right">-->
                            <!--<span class="icon-youjiantou iconfont "></span>-->
                        <!--</div>-->
                    <!--</li>-->
                </ul>
            </div>
        </div>
        <div class="col-md-10" style=" padding:0;">
            <div class="detail">
                <div class="detail_header">
                    <div class="header_list">
                        <div class="detail_left">
                            <ul class="choice">
                                <li><a href="shouye.html">首页</a></li>
                                <li  class="default"><a href="person.html">人员管理</a></li>
                                <li><a href="score.html">成绩管理</a></li>
                                <li><a href="infomation.html">信息资料</a></li>
                                <li><a href="course.html">远程教学</a></li>
                                <li ><a href="testInfo.html">远程考核</a></li>
                                <li><a href="systemManage.html">系统管理</a></li>
                            </ul>
                        </div>
                        <div class="detail_right">
                            <div class="login_left">
                                <span class="iconfont icon-bangzhu"></span>
                                <span>帮助中心</span>
                            </div>
                            <div class="login_right">
                                <span class="iconfont icon-tuichu"></span>
                                <span onclick="logout()">退出登录</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="detail_footer">
                    <div class="footer_content">
                        <div class="query clear">
                            <div class="query_left">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default">
                                        筛选查询 <span class="glyphicon glyphicon-triangle-top"></span>
                                    </button>

                                </div>
                            </div>
                            <div class="query_right">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="输入关键词进行搜索"
                                           style="margin-top:8px;">
                                    <div class="input-group-btn">
                                        <button type="button" class="btn btn-default " aria-haspopup="true"><span
                                                class="glyphicon glyphicon-search" style="color:#16578d"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="content_filter">
                            <ul>
                                <li >
                                    <div class="list_left">
                                        一级单位:
                                    </div>
                                    <div class="list_right">
                                        <span>45旅</span>
                                        <span>54旅</span>
                                    </div>
                                </li>
                                <li >
                                    <div class="list_left">
                                        二级单位:
                                    </div>
                                    <div class="list_right">
                                        <span>45旅</span>
                                        <span>54旅</span>
                                    </div>
                                </li>
                                <li >
                                    <div class="list_left">
                                        性别:
                                    </div>
                                    <div class="list_right">
                                        <span>45旅</span>
                                        <span>54旅</span>
                                    </div>
                                </li>
                                <li >
                                    <div class="list_left">
                                        年龄:
                                    </div>
                                    <div class="list_right">
                                        <span>45旅</span>
                                        <span>54旅</span>
                                    </div>
                                </li>
                                <li >
                                    <div class="list_left">
                                        民族:
                                    </div>
                                    <div class="list_right">
                                        <span>45旅</span>
                                        <span>54旅</span>
                                    </div>
                                </li>
                                <li >
                                    <div class="list_left">
                                        文化程度:
                                    </div>
                                    <div class="list_right">
                                        <span>45旅</span>
                                        <span>54旅</span>
                                    </div>
                                </li>
                                <li >
                                    <div class="list_left">
                                        专业:
                                    </div>
                                    <div class="list_right">
                                        <span>45旅</span>
                                        <span>54旅</span>
                                    </div>
                                </li>
                                <li >
                                    <div class="list_left">
                                        政治面貌:
                                    </div>
                                    <div class="list_right">
                                        <span>45旅</span>
                                        <span>54旅</span>
                                    </div>
                                <li >
                                    <div class="list_left">
                                        籍贯:
                                    </div>
                                    <div class="list_right">
                                        <span>45旅</span>
                                        <span>54旅</span>
                                    </div>
                                </li>
                                <li >
                                    <div class="list_left">
                                        教练员:
                                    </div>
                                    <div class="list_right">
                                        <span>45旅</span>
                                        <span>54旅</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="design">
                            <ul class="nav nav-tabs">
                                <li role="presentation" class="active"><a href="#">人员记录列表</a></li>
                                <li role="presentation"><a href="#">图标展示</a></li>
                            </ul>
                            <div class="but">
                                <span class="label label-primary">添加</span>
                                <span class="label label-primary">删除</span>
                                <span class="label label-primary">清空并导入</span>
                                <span class="label label-primary">导出人员信息</span>
                            </div>
                        </div>
                        <div class="personList">
                            <div style="overflow-x: auto;">
                                <table class="table table-bordered ">
                                    <thead>
                                    <tr style='background: #1458a7;color: #fff'>
                                        <th style="white-space: nowrap;font-size: 15px;">序号</th>
                                        <th style="white-space: nowrap;font-size: 15px;">一级单位</th>
                                        <th style="white-space: nowrap;font-size: 15px;">二级单位</th>
                                        <th style="white-space: nowrap;font-size: 15px;">姓名</th>
                                        <th style="white-space: nowrap;font-size: 15px;">性别</th>
                                        <th style="white-space: nowrap;font-size: 15px;">出生日期</th>
                                        <th style="white-space: nowrap;font-size: 15px;">民族</th>
                                        <th style="white-space: nowrap;font-size: 15px;">文化程度</th>
                                        <th style="white-space: nowrap;font-size: 15px;">专业</th>
                                        <th style="white-space: nowrap;font-size: 15px;">政治面貌</th>
                                        <th style="white-space: nowrap;font-size: 15px;">籍贯</th>
                                        <th style="white-space: nowrap;font-size: 15px;">教练员</th>
                                        <th style="white-space: nowrap;font-size: 15px;">备注</th>
                                        <th style="white-space: nowrap;font-size: 15px;">操作</th>
                                    </tr>
                                    </thead>
                                    <tbody class="content">
                                    <tr>
                                        <td style="white-space: nowrap;font-size: 15px;">1</td>
                                        <td style="white-space: nowrap;font-size: 15px;">一营</td>
                                        <td style="white-space: nowrap;font-size: 15px;">一连</td>
                                        <td style="white-space: nowrap;font-size: 15px;">张恒</td>
                                        <td style="white-space: nowrap;font-size: 15px;">男</td>
                                        <td style="white-space: nowrap;font-size: 15px;">2888.8.8</td>
                                        <td style="white-space: nowrap;font-size: 15px;">华夏</td>
                                        <td style="white-space: nowrap;font-size: 15px;">博士</td>
                                        <td style="white-space: nowrap;font-size: 15px;">修理原子弹</td>
                                        <td style="white-space: nowrap;font-size: 15px;">党员</td>
                                        <td style="white-space: nowrap;font-size: 15px;">中国</td>
                                        <td style="white-space: nowrap;font-size: 15px;">自己</td>
                                        <td style="white-space: nowrap;font-size: 15px;"></td>
                                        <td style="white-space: nowrap;font-size: 15px;"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="bom">
                            <div>
                                <button class="btn btn-primary btn-sm">首页</button>
                                <button class="btn btn-primary btn-sm">上一页</button>
                            </div>

                                <ul class="pagination" style="margin-bottom:-13px">
                                    <li><a href="#" aria-label="Previous"><span
                                            aria-hidden="true">1</span></a>
                                    </li>
                                    <li class="active"><a href="#">2 <span class="sr-only">(current)</span></a></li>
                                    <li><a href="#" aria-label="Previous"><span
                                            aria-hidden="true">3</span></a>
                                    </li>
                                    <li><a href="#" aria-label="Previous"><span
                                            aria-hidden="true">4</span></a>
                                    </li>
                                </ul>

                            <div>
                                <button class="btn btn-primary btn-sm">下一页</button>
                                <button class="btn btn-primary btn-sm">末页</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>