<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册失败</title>
    <link rel="stylesheet" href="assets/css/reset.min.css">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/fontSize/iconfont.css">
    <link rel="stylesheet" href="assets/css/login.css">
    <link rel="stylesheet" href="assets/css/register.css">
    <script type="text/javascript" src="assets/js/jquery-2.2.4.js"></script>
    <script type="text/javascript" src="assets/js/bootstrap.js"></script>
</head>
<body>
<div class="logo">
    <img src="assets/images/logo.png" alt="">
</div>
<div class="register" style="border-radius:10px;">
    <div class="register_header">
        <span>用户注册</span>
    </div>
    <div class="register_footer">
        <div class="inter">
            <span class="iconfont icon-xiazaishibai" style="color:#fff"></span>
            <span>注册失败  !</span>
        </div>
    </div>
</div>
</body>
</html>